/* 常用信息管理 - 第三方接口管理 样式 */
.interfaceMgrWin > .my-win-form {
    width: 650px;
}
.cfg_box {
    flex: 1;
    border: 1px solid #ced4da;
    position: relative;
    max-height: 200px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}
.cfg_box .cfg_box_header {
    flex: 0 0 28px;
    padding: 2px 5px;
    background-color: #f8f9fa;
    border-bottom: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color .3s ease-in-out;
}
.cfg_box .cfg_box_header .col_item {
    margin: 0;
}
.cfg_box .cfg_box_header .title {
    margin: 0 0 0 10px;
    font-size: 12px;
    vertical-align: top;
}
.cfg_box .cfg_box_content {
    overflow: auto;
}
.cfg_box .textbox {
    margin-left: 5px;
}
.cfg_box_row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px;
}
.cfg_box_row > div {
    flex: 1;
    margin: 0 5px;
    font-size: 12px;
}
.cfg_box_row > div:last-child {
    flex: 0 1 auto;
}
.cfg_box_row > textarea {
    margin: 0;
    flex: 1 1 80%;
    height: 48px;
    align-self: stretch;
}
.square-btn {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 5px;
    border: 1px solid #ced4da;
    background-color: #fff;
    background-size: 50% !important;
    vertical-align: middle;
}
.square-btn:hover {
    border-color: #0fa6d3;
}
.square-btn:focus {
    border-color: #0fa6d3;
    box-shadow: 0 0 0 2px rgba(133, 206, 255, .5);
    transition: box-shadow .2s ease-in;
}
.square-btn.minus {
    position: relative;
}
.square-btn.minus::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 60%;
    transform: translateX(-50%);
    background-color: #0fa6d3;
}